#side {
    width: 35px;
    position: fixed;
    left: 310px;
    top: 520px;
}

#side a {
    display: block;
    width: 35px;
    height: 35px;
}

#side a img {
    width: 35px;
    height: 35px;
    opacity: 0.8;
}